* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    background-image: linear-gradient(to bottom, #e3e3d8, #D9AAAB);
    height: 100vh;
    width: 100vw;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#login {
    background-color: #ffffff60;
    width: 360px;
    height: 600px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #0000006c;
    transition: width 1s, heiht 1s;

}
h1{
    font-size: 2em;
    color: #b77576;
}

#imagem {
    background: #D9AAAB url(imagens/back-croche.jpg) no-repeat center;
    background-size: cover;
    height: 150px;

}

#formulario {
    padding: 10px;
}

#formulario p,
h1 {
    text-align: center;
    margin-bottom: 10px;
}

#nome,
#senha {
    width: 270px;
    height: 40px;
    border-radius: 15px;
    outline: none;
    box-shadow: 0px 2px 7px #00000057;
    margin-top: 40px;
    padding: 10px;
    border: none;
    font-size: 1.1em;
    font-weight: 500;
   

}

.campos {
    text-align: center;
    display: flex;
}

button {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    width: 90%;
    height: 40px;
    background-color: #D9AAAB;
    box-shadow: 0px 2px 7px #00000057;
    border-radius: 15px;
    margin-top: 20px;
    border: none;
    color: #ffffff;
    text-shadow: 1px 1px 2px black;
    cursor: pointer;
    margin-left: 20px;
}

button:hover {
    background-color: #a27475;
}

.botao {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 1em;
    color: #000000;
    text-decoration: none;
}
.icon{
    width: 37px;
    margin-top: 35px;
    margin-right: 10px;
    

}

label {
    display: none;
}